<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>看看</title>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <!--标准mui.css-->
    <link href="css/mui.min.css" rel="stylesheet">
    <!--App自定义的css-->
    <link href="../css/app.css" rel="stylesheet" type="text/css"/>

    <script src="js/angular.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/service/commentService.js"></script>
    <script src="js/controller/commentController.js"></script>
    <style>
        .mui-table h4, .mui-table h5, .mui-table .mui-h5, .mui-table .mui-h6, .mui-table p {
            margin-top: 0;
        }

        .mui-table h4 {
            line-height: 21px;
            font-weight: 500;
        }

        .mui-table .oa-icon {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .mui-table .oa-icon-star-filled {
            color: #f14e41;
        }
    </style>
</head>

<body ng-app="kankan" ng-controller="commentController" ng-init="informationNoLook();informationLook()">
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">消息</h1>
</header>
<div class="mui-content">

    <div class="mui-card" ng-if="informationnolook.length > 0">
        <div class="mui-card-header mui-badge-danger">
            未读消息
            <button class="mui-btn mui-btn-grey" ng-click="setAllLook()">全部设为已读</button>
        </div>
        <div class="mui-card-content">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                <li class="mui-table-view-cell" ng-repeat="ifrnl in informationnolook">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-10">
                            <h4 class="mui-ellipsis">标题: {{ifrnl.title}}
                                <span class="mui-badge">{{ifrnl.type==2 ? "评论" : "私信"}}</span>
                            </h4>
                            <b>评论用户: </b> <span class="mui-h5 mui-ellipsis">{{ifrnl.username}}</span><br>
                            <b>评论内容: </b> <span class="mui-h5 mui-ellipsis">{{ifrnl.content}}</span><br>
                            <b>评论时间: </b> <span class="mui-h6 mui-ellipsis">{{ifrnl.time|date:'MM-dd HH:mm'}}</span><br>
                        </div>
                        <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                            <p class="mui-h6 mui-ellipsis"></p>
                            <button class="mui-btn mui-btn-green" ng-click="setLook(ifrnl.commentId)">设为已读</button>
                            <h1 class="mui-ellipsis"></h1>
                            <button class="mui-btn mui-btn-blue" ng-click="lookDetail(ifrnl.itemId)">查看详情</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="mui-card" ng-if="informationlook.length > 0">
        <div class="mui-card-header mui-badge-primary">
            已读消息
        </div>
        <div class="mui-card-content">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                <li class="mui-table-view-cell" ng-repeat="ifrl in informationlook">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-10">
                            <h4 class="mui-ellipsis">标题: {{ifrl.title}}
                                <span class="mui-badge">{{ifrl.type==2 ? "评论" : "私信"}}</span>
                            </h4>
                            <b>评论用户: </b> <span class="mui-h5 mui-ellipsis">{{ifrl.username}}</span><br>
                            <b>评论内容: </b> <span class="mui-h5 mui-ellipsis">{{ifrl.content}}</span><br>
                            <b>评论时间: </b> <span class="mui-h6 mui-ellipsis">{{ifrl.time|date:'MM-dd HH:mm'}}</span><br>
                        </div>
                        <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                            <p class="mui-h6 mui-ellipsis"></p>
                            <button class="mui-btn mui-btn-green" ng-click="deleteInformation(ifrl.commentId)">删除消息
                            </button>
                            <h1 class="mui-ellipsis"></h1>
                            <button class="mui-btn mui-btn-blue" ng-click="lookDetail(ifrl.itemId)">查看详情</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
<script src="js/mui.min.js"></script>
<script>
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>